<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Vitenskapelig arbeid – under seil</h2>
        <hr class="light">
        <p class="text-faded">
          Science under Sail tilbyr økologisk feltarbeid, dataanalyse og forskningsstøtte fra våre
          seilbåter. Vi kombinerer trygg seilas med feltmetodikk, prøvetaking og praktisk logistikk.
        </p>
        <p class="text-faded">
          Oppdrag i Norge og Skandinavia, og sesongvis i Nord-Spania.
        </p>
        <a href="#contact" class="btn btn-default btn-xl">Ta kontakt</a>
      </div>
    </div>
  </div>
</section>
