<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Ønsker du å samarbeide, støtte forskningen vår eller bestille tjenestene våre?</h2>
        <hr class="primary">
        <p>Send oss en e‑post, så hører du fra oss så snart som mulig.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" aria-hidden="true"></i>
          <p>{{ site.email }}</p>
        </a>
      </div>
    </div>
  </div>
</section>
