<section id="fleet" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Flåte</h2>
        <hr class="primary">
        <p class="text-muted">
          To norskbygde seilbåter utstyrt for kystnært feltarbeid, logistikk og ekspedisjonsstøtte.
        </p>
      </div>
    </div>

    <div class="row">

      <!-- SV Salka Valka -->
      <div class="col-md-6">
        <a href="#" class="fleet-box" onclick="return false;">
          <img src="{{ site.baseurl }}/img/fleet/SV.jpg" class="img-responsive" alt="SV Salka Valka">
          <div class="fleet-box-caption">
            <div class="fleet-box-caption-content">
              <h3 class="fleet-title">SV Salka Valka</h3>
              <ul class="fleet-specs">
                 <li><strong>Modell:</strong> Hero 107</li>
                 <li><strong>År:</strong> 1983</li>
                <li><strong>Rig:</strong> Masthead Marconi-ketch</li>
                <li><strong>Lengde:</strong> 10,7 m, <strong>Bredde:</strong> 3,6 m</li>
                <li><strong>Vekt:</strong> 9 t</li>
                <li><strong>Beliggenhet:</strong> Nord-Spania</li>
              </ul>
            </div>
          </div>
        </a>
      </div>

      <!-- SV Vildanden -->
      <div class="col-md-6">
        <a href="#" class="fleet-box" onclick="return false;">
          <img src="{{ site.baseurl }}/img/fleet/VA.jpg" class="img-responsive" alt="SV Vildanden">
          <div class="fleet-box-caption">
            <div class="fleet-box-caption-content">
              <h3 class="fleet-title">SV Vildanden</h3>
              <ul class="fleet-specs">
                <li><strong>Modell:</strong> Randøy 29 (Breiflabb)</li>
                 <li><strong>År:</strong> 1982</li>
                <li><strong>Rig:</strong> gaffrigget slupp</li>
                <li><strong>Lengde:</strong> 8,8 m</li>
                <li><strong>Bredde:</strong> 3,8 m</li>
                <li><strong>Vekt:</strong> 8 t</li>
                <li><strong>Beliggenhet:</strong> Vest-Norge</li>
              </ul>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
