<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand page-scroll" href="#page-top">Science under Sail</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ss-nav">
        <span class="sr-only">Veksle navigasjon</span> ☰
      </button>
    </div>
    <div class="collapse navbar-collapse" id="ss-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#about">Om oss</a></li>
        <li><a class="page-scroll" href="#services">Hva vi gjør</a></li>
        <li><a class="page-scroll" href="#portfolio">Flåten</a></li>
        <li><a class="page-scroll" href="#contact">Kontakt</a></li>
        <!-- Språkbytte -->
        <li><a href="{{ site.baseurl }}/">EN</a></li>
      </ul>
    </div>
  </div>
</nav>
