<section class="no-padding" id="portfolio">
  <!-- Topptekstområde (innrammet, med god luft) -->
  <div class="container portfolio-heading">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Våre tjenester</h2>
        <hr class="primary">
        <p class="text-muted">
          Forskning til sjøs og på land
        </p>
      </div>
    </div>
  </div>

  <!-- Rutenettområde (kant-til-kant) -->
  <div class="container-fluid">
    <div class="row no-gutter">

      <!-- 1 -->
      <div class="col-lg-4 col-sm-6">
        <div href="{{ site.baseurl }}/img/portfolio/1.jpg" class="portfolio-box">
          <img src="{{ site.baseurl }}/img/portfolio/1.jpg" class="img-responsive" alt="Tilgang til feltsteder med lavt karbonavtrykk">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Tilgang til feltsteder med lavt karbonavtrykk
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 2 -->
      <div class="col-lg-4 col-sm-6">
        <div href="{{ site.baseurl }}/img/portfolio/2.jpg" class="portfolio-box">
          <img src="{{ site.baseurl }}/img/portfolio/2.jpg" class="img-responsive" alt="Tretklatring / adkomst til trekroner">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Tretklatring / adkomst til trekroner
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="col-lg-4 col-sm-6">
        <div href="{{ site.baseurl }}/img/portfolio/3.jpg" class="portfolio-box">
          <img src="{{ site.baseurl }}/img/portfolio/3.jpg" class="img-responsive" alt="Kartlegging og observasjoner">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Kartlegging og observasjoner
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 4 -->
      <div class="col-lg-4 col-sm-6">
        <div href="{{ site.baseurl }}/img/portfolio/4.jpg" class="portfolio-box">
          <img src="{{ site.baseurl }}/img/portfolio/4.jpg" class="img-responsive" alt="Datainnsamling og analyse">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Datainnsamling og analyse
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 5 -->
      <div class="col-lg-4 col-sm-6">
        <div href="{{ site.baseurl }}/img/portfolio/5.jpg" class="portfolio-box">
          <img src="{{ site.baseurl }}/img/portfolio/5.jpg" class="img-responsive" alt="Skriving og publisering">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Skriving og publisering
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 6 -->
      <div class="col-lg-4 col-sm-6">
        <div href="{{ site.baseurl }}/img/portfolio/6.jpg" class="portfolio-box">
          <img src="{{ site.baseurl }}/img/portfolio/6.jpg" class="img-responsive" alt="Utvikling av forskningsnettsteder og apper">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Utvikling av forskningsnettsteder og apper
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
