<!DOCTYPE html>
<html lang="no">

{% include no/head.html %}

<body id="page-top">

  {% include no/nav.html %}
  {% include no/header.html %}

  <!-- «Feltarbeid, fra havet.»-seksjonen -->
  {% include no/call-to-action.html %}

  <!-- Flåte  -->
  {% include no/fleet.html %}

  <!-- Portefølje / tjenester -->
  {% include no/portfolio.html %}

  <!-- Profiler (tidligere “services”) -->
  {% include no/services.html %}

  <!-- Kontakt -->
  {% include no/contact.html %}

  {% include no/credits.html %}

  {% include no/scripts.html %}

</body>
</html>
